<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="">
<link rel="stylesheet" href="css/bootstrap.css"/>
<link rel="stylesheet" href="css/bootstrap-theme.css"/>
<link rel="stylesheet" href="css/main.css"/>
<script src="lib/ymaps.js"/>
<script src="lib/vue.js"/>
<script src="lib/vue-resource.min.js"/>
<script src="lib/underscore.js"/>
<script src="src/app.js"/>
<body>
<div id='app' class="container" style="margin-top: 30px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 10px">
                <ul class="nav nav-tabs" v-on:click.prevent="">
                    <li v-bind:class="[{ active: active == 1 }]">
                        <a href="#" v-on:click="makeActive(1)">Поиск по идентификатору</a>
                    </li>
                    <li v-bind:class="[{ active: active == 2 }]">
                        <a href="#" v-on:click="makeActive(2)">Поиск в регионе</a>
                    </li>
                    <li v-bind:class="[{ active: active == 3 }]">
                        <a href="#" v-on:click="makeActive(3)">Поиск по получателю</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6" style="margin-bottom: 5px">
                <div id="map" style="width: 100%; height: 500px"></div>
            </div>
            <div class="col-md-6" v-if="active == 1">
                <div class="form-inline">
                    <input type="text" class="form-control" v-model="parcelId" placeholder="Идентификатор посылки"
                           style="width: 250px"/>
                    <button class="btn btn-sm btn-primary" v-on:click="findParcel(parcelId)"
                            :disabled="_.isEmpty(parcelId)">Найти!
                    </button>
                </div>
                <div v-if="parcel">
                    <parcel-info :parcel="parcel"></parcel-info>
                </div>
            </div>
            <div class="col-md-6" v-if="active == 2">
                <div class="form-inline">
                    <label>Для выбора области кликните на карту</label>
                    <button class="btn btn-sm btn-primary" v-on:click="findInArea()" style="float: right">
                        Очистить
                    </button>
                </div>
                <parcel-info :parcel="p" v-for="p in parcelList"></parcel-info>
            </div>
            <div class="col-md-6" v-if="active == 3">
                <div class="form-inline">
                    <select class="form-control" v-model="owner" style="width: 250px">
                        <option v-for="person in personList" v-bind:value="person">
                            {{ person.name }}
                        </option>
                    </select>
                    <button class="btn btn-sm btn-primary" v-on:click="findByOwner(owner)"
                            :disabled="_.isEmpty(owner)">Найти
                    </button>
                </div>
                <parcel-info :parcel="p" v-for="p in parcelList"></parcel-info>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script type="x-template" id="parcel-info">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Наименование</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.name }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Идентификатор</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.id }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Текущие координаты</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.currentCoordinates }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Пункт отправления</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.from.town.country.name }}, {{ parcel.from.town.name }}.
                {{ parcel.from.address }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Пункт назначения</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.to.town.country.name }}, {{ parcel.to.town.name }}.
                {{ parcel.to.address }}
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4">Получатель</label>
            <div class="col-md-8 col-sm-8 form-control-static">
                {{ parcel.owner.name }}
            </div>
        </div>
        <hr/>
    </div>
</script>